// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.jumbotron{
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
  height: 500px;
  background-position: bottom;
}

#card-container{
  transform: translateY(-100px);
}

.social i{
  font-size: 30px;
  color: black;
}